Admin page

<%= render '/polls/public_view' %>
<h4>Admin URL: <%= link_to @poll.admin_link, @poll.admin_link %></h4>
<%= render @poll.questions %>
<%= render :partial => '/questions/new', :question => @poll.questions.build %>